<div>
  <div *ngFor="let location of getCurrentConditions()" class="well flex" (click)="showForecast(location.zip)">
    <ng-container *ngIf="location.data$ | async as conditions">
      <div>
        <h3>{{conditions.name}} ({{location.zip}})</h3>
        <h4>Current conditions: {{conditions.weather[0].main}}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{conditions.main.temp | number:'.0-0'}}
          - Max {{conditions.main.temp_max | number:'.0-0'}}
          - Min {{conditions.main.temp_min | number:'.0-0'}}
        </p>
        <p>
          <a [routerLink]="['/forecast', location.zip]" >Show 5-day forecast for {{conditions.name}}</a>
        </p>
      </div>
      <div>
        <span class="close" (click)="$event.stopPropagation(); locationService.removeLocation(location)">&times;</span>
        <img [src]="weatherService.getWeatherIcon(conditions.weather[0].id)">
      </div>
    </ng-container>
 </div>
</div>
