<div class="well">
  <h2>Enter a zipcode:</h2>
  <input type="text" #zipcode placeholder="Zipcode" class="form-control">
  <br>

  <app-button [isLoading$]="weatherService.isAdding$">
    <button readyState class="btn btn-primary" (click)="addLocation(zipcode.value)">Add location</button>
    <button loadingState class="btn btn-primary disabled">Adding...</button>
    <button successState class="btn btn-success">
      <i class="bi bi-check2-circle"></i>
      Done
    </button>
  </app-button>
</div>
